
@import "~@ux-aspects/ux-aspects/styles/ux-aspects.min.css";
@import "~@micro-focus/quantum-ux-aspects";

.logindiv{
    padding-left:400px;
    padding-top:300px;
    padding-right:400px;
    padding-bottom:100px;
    width:500px;
}

