
.logindiv{
    padding-left:400px;
    padding-top:300px;
    padding-right:400px;
    padding-bottom:100px;
    width:2000px;
}

.Cancel {
    display: inline-block;
    padding-left: 10px;
}
.Submit{
    display: inline-block;
}
