ux-page-header .ux-page-header{
    background-color:TEAL;
}

body {
    padding: 0;
    background-color: #f1f2f3;
}

.page-main {
    height: 100vh;
}

button[uxSidePanelClose] {
    position: absolute;
    top: 28px;
    right: 12px;
}

.modal .modal-dialog {
    width: 500px;
    overflow: hidden;
}

.modal .modal-body {
    height: 400px;
}

body .wrapper-content, .body-light .wrapper-content{
    padding:0px;
    float: right;
    width: 100%;
    height: 100%;
}

.hpe-ebox, .ebox {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    width: 100%;
    height: 100%;
}
.page-main.masthead-offset-primary > * {
    padding-top:0px;
}
.ConceptInput{
    height: 40px;
}
.page-content{
    float:left;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}